.modifier {
    margin-left: 1em;
    min-width: 8em;
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

.modifier.direct {
    float: left;
}

.footer {
    float: left;
    clear: left;
    margin-top: 1em;
}

button[type="submit"] {
    display: none;
}