.modifier {
    margin-left: 1em;
    min-width: 8em;
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

.modifier.direct {
    float: left;
}

.footer {
    clear: left;
    margin-top: 1em;
}